
nav{
    background-color: rgb(213, 250, 246);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    
    
}

header{
    background-color: rgb(213, 250, 246);
width:auto;


}

#ll{
    height: 250px;
    width: 250px;
    background-color:#457B9D;
    border-radius: 10%;
    margin-right: 50%;
}
.img{
    height: 300px;
    margin-left: 20%;
}

.btn{
    background-color: #457B9D;
    color: rgb(213, 250, 246);
}
#btn{
    background-color: rgb(213, 250, 246) ;
    color: #457B9D ;
}
#mg{
    color: #457B9D ;
}
.r{
    gap: 10px;
}
.p1{
margin-bottom: 10%;
margin-left: 5%;
}
.card{
    margin-left: 30%;
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .prot{
    gap: 10px;
    margin-left: 10px;
}

.Contact{
    
   margin-left: 12%;
    background-color: rgb(213, 250, 246);

}

footer{
    background-color: rgb(213, 250, 246);
    height: 250px;

}

.custom-bg-color {
    background-color: rgb(213, 250, 246);
}
.p{
    color: rgba(69, 123, 157, 1);

}
h2{
    color: rgba(69, 123, 157, 1);
    ;
}



